.page-header {
    display: block;
    top: 90%;
    margin-top: 160px;
    padding-bottom: 40px;
    // bottom: 0;
    z-index: 99;
    // background-color: red;
    // position: absolute;
    span {
        font-size: 40px;
        font-weight: 600;
        color: #37474F;
        letter-spacing: 2px;
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}