.skill-list {
    .skill-element {
        padding: 20px;
        .skill-title {
            display: block;
            font-weight: 600;
            font-size: 32px;
            color: #37474F;
        }
        .skill-desc {
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 14px;
            color: #727B80;
        }
    }
}