@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&display=swap');
body {
    font-family: 'Blinker', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 2px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #fff;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #37474F;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    // border: 3px solid orange;
    /* creates padding around scroll thumb */
}